#cabecalho {
    background-color: black;
    border-radius: 5px;
}

.cabeca {
    background: url(cr.gif);
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0% 1%;
    padding: 2px;
    font-family: 'Calibri', sans-serif;
    border: solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
}

a:hover {
    border-radius: 10px;
    animation-delay: 1s;
    background-color: rgb(40, 40, 40);
}

img{
    width: 65%;
    border-radius: 5px;
}

#imglink {
    text-decoration: none;
    color: transparent;
    border-radius: 0px;
    border: none;
    background-color: transparent;
    
}

#logo {
    width: 40%;
}

#tablelogo {
    width: 50%;
}

.th {
    min-width: 10%;
}

#rodape {
    background-color: black;
    height: 200px;
    border-radius: 5px;
}

.redes {
    width: 10%;
}

.paragrafo{
    width: 200px;
}

p {
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-family: 'Calibri', sans-serif;
}

h2 {
    font-family: 'Calibri', sans-serif;
}

h3 {
    font-family: 'Calibri', sans-serif;
}

h4 {
    font-family: 'Calibri', sans-serif;
}

h5 {
    font-family: 'Calibri', sans-serif;
}

h6 {
    font-family: 'Calibri', sans-serif;
}

#c{
    background-color: rgba(225, 225, 230, 0.65);
    margin: 0% 10%;
    padding: 1% 0%;
    border-style: outset;
    border-color: rgb(20, 20, 20, .5);
    border-width: 3px;
    border-radius: 8px;
}